<div class="container">
  <div class="card">
    <div class="imgbox">
      <%= image_tag "shoes.png" %>
    </div>
      <div class="contentbx">
        <h2>Nike shoes</h2>
        <div class="size">
          <h3>Size :</h3>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span>10</span>
        </div>
        <div class="color">
          <h3>Color :</h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
          <%= link_to 'Buy now',root_path %>
      </div>
  </div>
</div>
